body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica', 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.mobile-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}