@import '../../styles/partials/mixins';

.currently {
	display: flex;
	align-items: flex-end;

	&-playing {
		width: 100%;
		margin-top: 1rem;
		display: flex;
		// align-items: flex-end;
		// position: relative;

		& :active :visited :link {
			text-decoration: none;
			color: $black;
		}

		@include tablet {
			margin: 0;
			width: 43.75rem;
		}

		@include laptop {
			width: 59rem;
			height: 33.75rem;
		}
	}

	@include tablet {
		justify-content: center;
		background-color: $black;
	}

	@include laptop {
		padding-left: 1.5rem;
	}
}

@include tablet {
	.video-background {
		display: flex;
		justify-content: center;
		background-color: $black;
		background-size: cover;
		margin: 0;
	}
}
