@import '../../styles/partials/mixins';

.next-video {
    @include mobile-header4-paragraph;
    color: $silver;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  
    @include laptop {
      padding-top: 2.5rem;
    }
  }
  
  @include laptop {
    .laptop-style {
      display: flex;
    }
  }

  .video-heading {
    margin: 0;
    padding-bottom: 2.5rem;
  }