@font-face {
    font-family: Avenir-Bold;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: Avenir-Boldit;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-BoldIt.otf);
}

@font-face {
    font-family: Avenir-Demi;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Demi.otf);
}

@font-face {
    font-family: Avenir-Demiit;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-DemiIt.otf);
}

@font-face {
    font-family: Avenir-Heavy;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Heavy.otf);
}

@font-face {
    font-family: Avenir-Heavyit;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-HeavyIt.otf);
}

@font-face {
    font-family: Avenir-It;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-It.otf);
}

@font-face {
    font-family: Avenir-light;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Light.otf);
}

@font-face {
    font-family: Avenir-Lightit;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-LightIt.otf
    );
}

@font-face {
    font-family: Avenir-Medium;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Medium.otf);
}

@font-face {
    font-family: Avenir-MediumIt;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-MediumIt.otf);
}

@font-face {
    font-family: Avenir-regular;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: Avenir-Thin;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-Thin.otf);
}

@font-face {
    font-family: Avenir-Thinit;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-ThinIt.otf);
}

@font-face {
    font-family: Avenir-UltLt;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-UltLt.otf);
}

@font-face {
    font-family: Avenir-UltLtlt;
    src: url(../../assets/_global-font/AvenirNextProLT/Linotype-AvenirNextLTPro-UltLtIt.otf);
}