$gap: 1.5rem;

@mixin desktop-offset {
    display: grid;
    padding-left: 11.25rem;
    padding-right: 11.25rem;
    grid-template-columns: repeat(12, 4.25rem);
    grid-column-gap: $gap;
    height: 100vh;
}

@mixin tablet-offset {
    display: grid;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    grid-template-columns: repeat(6, 6.25rem);
    grid-column-gap: $gap;
    height: 100vh;
}

@mixin mobile-offset {
    display: grid;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: repeat(4, 3.375rem);
    grid-column-gap: $gap;
    height: 100vh;
}

@mixin offset {
    @include mobile-offset;
    
    @include tablet {
        @include tablet-offset;
    }
    
    @include desktop {
        @include desktop-offset;
    }
}