@import './fonts.scss';
@import './colors.scss';


//Desktop & Tablet Text Styles
@mixin h1-hero-header {
    font-family: Avenir-Bold;
    color: $gltsc;
    font-size: 3.75rem;
    line-height: 4.25rem;
}

@mixin h1-header {
    font-family: Avenir-Bold;
    color: $gltsc;
    font-size: 2.25rem;
    line-height: 2.75rem;
}

@mixin h2-header {
    font-family: Avenir-Bold;
    color: $gltsc;
    font-size: 1.5rem;
    line-height:2rem;
}

@mixin h3-subheader {
    font-family: Avenir-Bold;
    color: $gltsc;
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin h4-paragraph-and-comments {
    font-family: Avenir-Demi;
    color: $gltsc;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.375rem;
}

@mixin h4-list-and-contact {
    font-weight: Avenir-Regular;
    color: $gltsc;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@mixin h5-labels {
    font-family: Avenir-Regular;
    color: $labels;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

//Mobile Text Styles  - '-m' is notation for mobile
@mixin h1-header-m {
    font-family: Avenir-Bold;
    color: $gltsc;
    font-size: 3.75rem;
    line-height: 4.25rem;
}

@mixin h2-subheader-m {
    font-family: Avenir-Demi;
    color: $gltsc;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 2.75rem;
}

@mixin h4-paragraph-m {
    font-family: Avenir-Regular;
    color: $gltsc;
    font-size: 1.5rem;
    line-height:2rem;
}

@mixin h4-list-and-contact-m {
    font-family: Avenir-Regular;
    color: $gltsc;
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin h5-labels-m {
    font-family: Avenir-Regular;
    color: $labels;
    font-size: 0.75rem;
    line-height: 1.25rem;
}

// GLOBAL TEXT STYLE COLOR
$gltsc: #323232; 

// labels color
$labels: $silver;