@import '../../styles/partials/mixins';

.title {
    @include mobile-header1;
    margin: 0;

    &-section {
        padding: 2rem 1rem 0 1rem;
        width: 18rem;

        @include tablet {
            padding: 3rem 1.5rem 0 1.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            width: 45rem;
            margin: 0;
        }
    }

    @include tablet {
        @include desk-and-tablet-header1;
    }
}

.article {
    border-bottom: 0.01rem solid $silver;
    border-bottom-width: thin ;
    padding-bottom: 1.5rem;

    @include tablet {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.author {
    padding-top: 1rem;
    padding-bottom: 2rem;

    &__video {
        @include mobile-header2-sub-header;
        padding-right: 0.5rem;

        @include tablet {
            @include desk-and-tablet-header2-sub-header;
            font-size: 1rem;
        }
    }

    &__date {
        @include mobile-header4-paragraph;
        color: $silver;

        @include tablet {
            @include desk-and-tablet-header4-paragraph-and-comments;
        }
    }

    @include tablet {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

.total {
    display: flex;
    justify-content: space-between;
    width: 13.125rem;


    &-views{
        padding-right: 0.5rem;
    }

    &-likes{
        padding-right: 0.5rem;
    }

    &-align {
        display: flex;
        align-items: center;

        @include tablet {
            padding-right: 1.5rem;
        }
    }

    @include tablet {
        @include desk-and-tablet-header4-paragraph-and-comments;
    }
}

.description {
    @include mobile-header4-paragraph;
    font-size: 0.75rem;
    margin: 0;
    padding-top: 1.5rem;
    width: 18rem;

    @include tablet {
        @include desk-and-tablet-header4-paragraph-and-comments;
        padding-top: 2.5rem;
        width: 32rem;
    }
}
