@import '../../styles/partials/mixins';


.header__section {
    height: 10.563rem;
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        align-items: center;
        height: 5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1rem;
    }

    @include laptop {
        // width: 67.5rem;
        padding: 0;
        padding-left: 4.25rem;
        padding-right: 4.25rem;
        margin: 0;
    }
}

.logo {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: baseline;

    @include tablet {
        margin: 0;
        height: 1.5rem;
        padding-right: 10.563rem;
    }

    @include laptop {
        padding-right: 20.8125rem;       
    }
}

.search {
    @include mobile-header4-paragraph;
    font-weight: bold;
    border: 1px solid $mercury;
    border-radius: 0.15rem;
    background-image: url('../../assets/icons/svg/icon-search.svg');
    background-repeat: no-repeat;
    background-position: 7%;
    background-color: $alabaster;
    padding: 1rem;
    padding-left: 3rem;

    &:focus {
        border: 0.125rem solid $brainflix-blue;
        outline: none;
      }

    @include tablet {
        margin-right: 1.5rem;
        padding-right: 3.3rem;
        width: 10rem;
    }

    @include laptop {
        width: 15.75rem;
    }
}

.btn {
    padding-right: 1rem;
    &-upload {
        @include bluebutton;
        @include mobile-header2-sub-header;
        height: 3rem ;
        width: 13.875rem;
        margin-top: 0.5rem;
        margin-right: 1rem;

        &:hover{
            border: 0.125rem solid $brainflix-blue-dark;
            background-color: $brainflix-blue-dark;
            outline: none;
        }
        
        &:focus{
            border: 0.125rem solid $brainflix-blue-dark;
            background-color: $brainflix-blue-dark;
            outline: none;
        }

        @include tablet {
            width: 7rem;
            height: 3.3rem;
            margin-bottom: 0.4rem;
        }

        @include laptop {
            margin-right: 1.5rem;
        }
    }

    @include tablet {
        padding-right: 0.2rem;
    }
}

.avatar__img {
    @include avatar;
    margin-top: 0.5rem;

    @include tablet {
        margin: 0.5rem;
        margin-top: 0.8rem;
        margin-left: 0;
    }
}

.nav {
    display: flex;
    align-items: center;
    margin: 0;
}
