@import '../../../Styles/Partials/main.scss';
.likes_container {
    width: 45vw;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}

.likes {
    width: 4vw;
    margin-right: 0.5rem;
    
    &_fig{
        @include h4-paragraph-m;
        font-size: 0.6rem;
        line-height: 1.25rem;
    }   
}